@font-face {
  font-family: 'Grtsk Giga';
  src: url('./GrtskGiga.woff');
}

body {
  margin: 0;
  font-family: 'Grtsk Giga', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}
